@let(title = "Mot de passe oublié")
@include('partials/header')

<div class="auth-page">
  <h1 class="text-center">{{title}}</h1>

  <div class="auth-card">
    <form action="" method="post">
      {{csrfField()}}
      @!input({ name: 'email', label:'Email', type:'email' })
      <button type="submit" class="btn btn-primary w-100 mt-2">{{title}}</button>
    </form>
  </div>
</div>

@include('partials/footer')