@let(title = "Réinitialisation du mot de passe")
@include('partials/header')

<div class="auth-page">
  <h1 class="text-center">{{title}}</h1>

  <div class="auth-card">
    <form action="{{route('auth.handle-reset-password')}}" method="post">
      {{csrfField()}}
      <input type="hidden" name="token" value="{{token}}" />
      @!input({ name: 'email', label:'Email', type:'email', value: email })
      @!input({ name: 'password', label:'Mot de passe', type:'password' })
      @!input({ name: 'password_confirmation', label:'Confirmation du mot de passe', type:'password' })
      <button type="submit" class="btn btn-primary w-100 mt-2">{{title}}</button>
    </form>
  </div>
</div>

@include('partials/footer')