@let(title = "Nos publications")

@include('partials/header')

<div class="container">
  <h1 class="text-center my-2">{{title}}</h1>

  <div class="posts-grid">
    @each(post in posts)
    <div class="card h-100">
      <img src="{{post.thumbnail}}" class="card-img-top" alt="{{post.title}}">
      <div class="card-body d-flex flex-column">
        <h5 title="{{post.title}}" class="card-title">{{truncate(post.title, 20)}}</h5>
        <p class="card-text">Ecrit par : {{post.user.username}}</p>
        <a href="{{route('post.show', { slug: post.slug, id: post.id })}}" class="btn btn-primary mt-auto">Lire l'article</a>
        @if(auth.use('web').isAuthenticated && (auth.use('web').user.role === 'admin' || auth.use('web').user.id === post.userId))
        <div class="d-flex mt-3 justify-content-between">
          <a href="{{route('post.edit', { id: post.id })}}" class="btn btn-outline-warning">Modifier l'article</a>
          <form action="{{route('post.delete', {id:post.id})}}?_method=DELETE" method="post">
            {{csrfField()}}
            <button type="submit" class="btn btn-outline-danger">Supprimer</button>
          </form>
        </div>
        @end
      </div>
    </div>
    @end
  </div>

  @if(posts.hasPages)
  <nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item {{posts.currentPage === posts.firstPage && 'disabled'}}">
        <a class="page-link" href="{{posts.getPreviousPageUrl()}}">Précédent</a>
      </li>
      @each(anchor in posts.getUrlsForRange(1,posts.lastPage))
      <li class="page-item {{anchor.isActive && 'active'}}"><a class="page-link"
          href="{{anchor.url}}">{{anchor.page}}</a></li>
      @end
      <li class="page-item {{!posts.hasMorePages && 'disabled'}}">
        <a class="page-link" href="{{posts.getNextPageUrl()}}">Suivant</a>
      </li>
    </ul>
  </nav>
  @end
</div>

@include('partials/footer')